# Секретные токены доступа Google (Критически важно!)
.clasprc.json

# Настройки Clasp (скройте, если репозиторий публичный)
.clasp.json

# Логи и папки Node.js
node_modules/
*.log

# Файлы операционной системы и редакторов
.DS_Store
.vscode/
.idea/
